<%- include("layout/header") %>
  <main class="homeMain">

    <h1 class="homeMain__title">Välkommen till BiHjoGrafen!</h1>
    <a class="movie__button" href="/movies">Kolla in vårat utbud!</a>

  </main>
  <%- include("layout/footer") %>